*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.accordion {
  background-color:#222222 ;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 15px;
  height: 55px;
  overflow: hidden;
  text-align: left;
  font-size: 1em;
  transition: .6s height ease-in-out;
}
.accordion:hover {
  height: 150px;
}
.text {
  padding: 18px;
  font-size: 1.3em;
}
@media(max-width:500px){
  .accordion:hover{
    height: 300px;
  }
}
